.switch-field {
    display: flex;
    margin-bottom: .75rem;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.CodeMirror {
    font-size: 80%;
}
.CodeMirror-code {
    outline: none;
    max-width: 32rem;
}
.codemirror-readonly .CodeMirror {
    height: 5rem;
    max-height: 5rem;
}
a.loader {
    display: inline-block;
}
.custom_page_codemirror .CodeMirror-wrap {
    height: 33.7rem;
}
.table tbody tr td, .table tbody tr th {
    vertical-align: middle;
}

.td_label {
    max-width: 5rem;
}

.control-fullwidth {
    width: 100%;
}

.wrap-control-queue {
    position: relative;
}

.control-queue {
    position: unset;
}

span.prefetch-active {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 1rem;
    background: #f2f2f2;
    border: .1rem solid #ddd;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: block;
}

span.prefetch-active .button {
    float: right;
    margin-top: -10px;
}

.custom-checkbox span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    position: absolute;
    width: 80%;
    height: 80%;
}

.custom-checkbox span::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox input:checked + span::before {
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #a5dc86;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.wrap-button-group {
    margin: 0;
}

.wrap-button-group .button {
    margin-bottom: .1rem;
}

.main_tabs {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: none !important;
}

.main_tabs li + li {
    margin-left: 0;
}

.main_tabs li {
    width: 100%;
    text-align: left;
}

.main_tabs li a {
    align-items: flex-start !important;
    display: block;
}

.main_tabs li .field {
    max-width: fit-content;
}

.wrap_button_info {
    position: relative;
}

.wrap_button_info button {
    position: absolute;
    right: .5rem;
    bottom: -.8rem;
}
pre.toggle_example_code {
     height: 5rem;
     overflow: hidden;
     opacity: .5;
 }
.link_route_off {
    text-decoration: line-through;
}